{{ block "body" . }}
<style>
    ul {
        list-style: none;
    }
</style>
<div style="border: 1px solid #ac0f0f; padding: 2em">
    <table style="width:120%; height:30em">
        <tr>
            <td width="10%">
                <div style='overflow-x: hidden; overflow-y: scroll;'>
                    <ul class="roomMemberList">
                    </ul>
                </div>
            </td>
            <td width="40%">
                <div width="80%" style='height: 50%; overflow-x: hidden; overflow-y: scroll;'>
                    <ul id="chatContent">
                    </ul>
                </div>
            </td>

        </tr>

    </table>
    <div><input id="chatInput" type="text" size="150" placeholder="請輸入聊天訊息"><button id="sendBtn" style='margin-left: 1em'>送出</button><button id="quit" style='margin-left: 1em'>離開</button>
    </div>
</div>

{{ end }}