{{ define "index" }}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{ .Title }}</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/js/jquery-3.5.1.min.js"></script>

    <script src="/js/index.js"></script>
    <link rel="shortcut icon" href="#">
</head>

<body>
    <div style="border: 1px solid #cccccc; padding:2em">
        <a id="toLoginPage" href="#">登入</a>
        <a id="toSignupPage" href="#">註冊</a>
        <span id="memberInfo" style="font-weight: bold"><a id="logout" href="#">登出</a><a id="createroomPage" href="#">建立聊天室</a></span>
        <h3>目前聊天室</h3>
        <table>
            <thead>
                <tr>
                    <th>聊天室名稱</th>
                    <th>室長</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody id="chatroomList">
            </tbody>
        </table>
        <table>
            <tr name="pageList">
            </tr>
        </table>
    </div>
</body>

</html>

{{ end }}