{{ block "body" .}}

<div style="border: 1px solid #cccccc; padding:2em">
    <a id="toLoginPage" href="#">登入</a>
    <a id="toSignupPage" href="#">註冊</a>
    <span id="memberIndex" style="font-weight: bold"><a id="logout" href="#">登出</a><a id="createroomPage" href="#">建立聊天室</a></span>
    <h3>目前聊天室</h3>
    <table>
        <thead>
            <tr>
                <th>聊天室名稱</th>
                <th>室長</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody id="chatroomList">
        </tbody>
    </table>
    <table>
        <tr name="pageList">
        </tr>
    </table>
</div>
{{ end }}