{{ define "login" }}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{ .Title }}</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/login.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/jquery-3.5.1.min.js"></script>
    <script src="js/login.js"></script>
    <link rel="shortcut icon" href="#">
</head>

<body>
    <main class="form-login text-center">
        <form id="loginForm">
            <img class="mb-4" src="images/chat.ico" width="57" height="57">
            <h1 class="h3 mb-3 fw-normal">Please Login in</h1>
            <label for="email" class="sr-only">Email address</label>
            <input type="email" name="email" class="form-control" placeholder="Email address" required autofocus>
            <label for="pwd" class="sr-only">Password</label>
            <input type="password" name="pwd" class="form-control" placeholder="Password" required>

            <div class="checkbox mb">
                <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
            </div>
            <div id="errBox" class="checkbox mb-3">
                <!-- <span id="errMsg" style="color:red; font-size: medium; ">123</span> -->
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Login in</button>
            <p class="mt-5 mb-3 text-muted">&copy; 2020-2021</p>
        </form>
    </main>
</body>

</html>
{{end}}