{{ block "body" . }}
<div style="border: 1px solid #cccccc; padding:2em">
    <form action="/signup" id="signupForm">
        <table>
            <tr>
                <td style="text-align:right">e-mail</td>
                <td><input name="email" type="email" placeholder="請輸入您的 E-Mail 信箱"><span id="signupEmailErrMsg" style="padding-left:1em; color:red; font-size: small;"></span></td>
            </tr>
            <tr>
                <td style="text-align:right">暱稱</td>
                <td>
                    <input name="nickname" type="text" placeholder="請取一個暱稱 "><span id="signupNicknameErrMsg" style="padding-left:1em; color:red; font-size: small; "></span></td>
            </tr>
            <tr>
                <td style="text-align:right ">密碼</td>
                <td><input name="pwd1" type="password" placeholder="請輸入密碼 "><span id="passwordErrMsg" style="padding-left:1em; color:red; font-size: small; "></span></td>
            </tr>
            <tr>
                <td style="text-align:right ">確認密碼</td>
                <td><input name="pwd2" type="password" placeholder="請重新輸入一次密碼 "><span id="confirmdPasswordErrMsg" style="padding-left:1em; color:red; font-size: small; "></span></td>
            </tr>
            <tr>
                <td colspan="2 " style="text-align: right; "><button>註冊</button></td>
            </tr>
        </table>
    </form>
</div>
{{ end }}