{{ define "create" }}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{ .Title }}</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/form.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/jquery-3.5.1.min.js"></script>
    <script src="js/create.js"></script>
    <link rel="shortcut icon" href="#">
</head>

<body class="text-center">
    <main class="form">
        <form id="createRoomForm">
            <a href="/"><img class="mb-4" src="images/chat.ico" width="70" height="70"></a>
            <h1 class="h2 mb-4 fw-normal">Create Room</h1>
            <label for="roomName" class="sr-only">Room Name</label>
            <input type="text" name="roomName" class="form-control form-input-bottom" placeholder="Room Name" required autofocus>
            <div id="errBox" class="checkbox mb-4">
                <!-- <span id="errMsg" style="color:red; font-size: medium; ">123</span> -->
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Create</button>
            <p class="mt-5 mb-3 text-muted">&copy; 2020-2021</p>
        </form>
    </main>
</body>

</html>
{{ end }}

<!-- <body>
    <main class="form-login">
        <form id="loginForm">
            <a href="/"><img class="mb-4" src="images/chat.ico" width="70" height="70"></a>
            <h1 class="h2 mb-4 fw-normal">Please Login in</h1>
            <label for="email" class="sr-only">Email address</label>
            <input type="email" name="email" class="form-control form-input" placeholder="Email address" required autofocus>
            <label for="pwd" class="sr-only">Password</label>
            <input type="password" name="pwd" class="form-control form-input-bottom" placeholder="Password" required>

            <div id="errBox" class="mb-4">
                <span id="errMsg" style="color:red; font-size: medium; ">123</span>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Login in</button>
            <p class="mt-5 mb-3 text-muted">&copy; 2020-2021</p>
        </form>
    </main>
</body> -->